.comment{
	display: flex;
	width: 50%;
	background-color: #FFFFFF;
	margin-block: 1rem;
	padding: 1rem;
	border-radius: 12px;
}
.buttonform{
	display: flex;
	align-items: flex-start;
	width: 90%;
	justify-content: space-around;
}
.btn{
	background-color: blue;
	padding: 6px 15px;
	border: 1px solid blue;
	border-radius: 4px;
	font-weight: 600;
	color: #FFFFFF;
}
.profile{
	width: 10%;
}
.textarea{
	width: 80%;
}
@media screen and (max-width: 768px){
	.buttonform{
		flex-direction: column;
		align-items: flex-end;
		width: 90%;
		justify-content: space-around;
		margin-right: 7px;
	}
	.comment{
		width: 90%;
		/* padding-right: 10px; */
	}
	.profile{
		/* position: relative; */
		/* top: 0; */
		align-self: flex-end;
	}
	.btn{
		margin-top: 6px;
	}
}